.CartSideBar {
  z-index: 999 !important;
  position: absolute;
  right: 0;
  transform: translateX(100%);
}
.translate-x-0 {
  transform: translateX(0);
}
.translate-x-full {
  transform: translateX(100%);
}
.transition-transform {
  transition-property: transform;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.custom-header header > ul {
  width: 33.33%;
}
.custom-header header {
  background-color: black;
  height: 100% !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5%;
  padding-left: 5%;
}
.custom-header header .desktop-menu-item li a {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.custom-header header .desktop-menu-item li a:hover {
  color: #fc4242;
}
/* ul.mob-br {
  --navbar-height: 147px !important;
} */
ul.mob-br {
  top: 90px;
  width: 100%;
}
@keyframes ticker {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker 50s linear infinite;
}
.cus-btn {
  background-color: #000000;
  color: white;
  border-radius: 50px;
  padding: 12px 25px;
  transition: 0.3s;
  border: 1px solid #000000;
}
.cus-btn:hover {
  background-color: white;
  color: black;
}
.feature_product_slider .swiper-wrapper {
  align-items: flex-end;
}
.swiper.BannnerSwiper .swiper-wrapper .swiper-slide {
  overflow: hidden;
}
.swiper.Bannner-wrapper:nth-child(1)Swiper .swiper .swiper-slide {
  position: relative;
}

.swiper.BannnerSwiper {
  padding-bottom: 40px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination span.swiper-pagination-bullet {
  background-color: #ffe6e6;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.swiper-pagination
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  background-color: #fc4242;
  height: 10px;
  border-radius: 20px;
}
/* .BannnerSwiper .swiper-wrapper .swiper-slide {
  height: 100% !important;
  min-height: 640px !important;
}
.BannnerSwiper .swiper-wrapper .swiper-slide .banner-item {
  height: 100% !important;
  min-height: 650px;
} */

.ProductItem .item-wrapper:before {
  content: "";
  width: 100%;
  min-height: 80%;
  max-height: 80%;
  height: 80%;

  position: absolute;
  border-radius: 25px;
  z-index: -1;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.ProductItem:nth-child(1) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .ProductItem
  .item-wrapper:before {
  background-color: #fff5f5;
}
.ProductItem:nth-child(2) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .ProductItem
  .item-wrapper:before {
  background-color: #e9ddeb;
}
.ProductItem:nth-child(3) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .ProductItem
  .item-wrapper:before {
  background-color: #faf1dc;
}
.ProductItem:nth-child(4) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .ProductItem
  .item-wrapper:before {
  background-color: #ffe9e9;
}
.ProductItem:nth-child(5) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(5)
  .ProductItem
  .item-wrapper:before {
  background-color: #faf1dc;
}
.ProductItem:nth-child(6) .item-wrapper:before,
.RelatedProduct
  .item-wrapper
  .swiper-wrapper
  .swiper-slide:nth-child(6)
  .ProductItem
  .item-wrapper:before {
  background-color: #ffe9e9;
}

.ProductItem:hover .item-wrapper:before {
  max-height: 100%;
  background-color: #f9f4ed;
  border-radius: 25px;
  height: 100%;
}
.custom-shadow {
  box-shadow: 0px 3px 2px 0px rgb(176 81 172 / 35%);
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker 50s linear infinite;
}

.swap-animation-left {
  animation: swapAnimationLeft 1s ease-in-out;
}

.swap-animation-right {
  animation: swapAnimationRight 1s ease-in-out;
}

@keyframes swapAnimationLeft {
  0% {
    width: 350px;

    transform: translateX(0);
  }

  100% {
    width: 500px;
    transform: translateX(-100%);
  }
}

@keyframes swapAnimationRight {
  0% {
    width: 500px;

    transform: translateX(0);
  }

  100% {
    width: 350px;

    transform: translateX(100%);
  }
}

.buttonShadow {
  box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
  -webkit-box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
  -moz-box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
}

.Footer-dark:after {
  content: url("../assets/images/FooterBg.png");
  width: 790px;
  height: 360px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Footer-light:after {
  content: url("../assets/images/FooterBg2.png");
  width: 790px;
  height: 360px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ze-image-area .item {
  transition: 0.5s;
}
.bg-image {
  background-size: fit;
  height: 80vh;
  width: 70vw;
  background-position: center;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url("../assets/images/custon-slider-bg1.png");
  transition: 0.2s;
}
.bg-item-1 {
  background-image: url("../assets/images/custon-slider-bg2.png");
}

.center-area:hover .relative {
  animation: moveUpDown 1.5s infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.featuredProduct .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
  align-items: flex-end !important;
}
.feed-slider:first-child .swiper-wrapper {
  margin-left: -10% !important;
}
.feed-slider:last-child .swiper-wrapper {
  margin-left: -10% !important;
}

.flip-contain {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: perspective(400px);
}
.flip-container:hover .flip-contain,
.flip-container.hover .flip-contain {
  transform: rotateY(180deg);
}
.custom-input-design {
  border-radius: 50px;
}
.view-list button {
  padding: 6px;
}

.tab-link {
  color: black;
  padding: 10px 20px;
}

.tab-link.active {
  border-bottom: 1px solid #fc4242;
}
.product-info-tabs .wrapper .content-wrapper {
  padding: 10px 20px;
}

.tab-content {
  display: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}
.custom-accrodian-group {
  gap: 20px !important;
}
.custom-accrodian-group > div {
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 1px solid #fc4242;
  background-color: #fc4242 !important;
  color: white;
  padding: 0px !important;
}
.custom-accrodian-group > div button {
  padding: 20px !important;
}
.custom-accrodian-group > div section div {
  padding: 10px 20px;
}
.custom-accrodian-group > div[data-open="true"] {
  background-color: transparent !important;
  color: black;
}
.custom-accrodian-group > div[data-open="true"] .tab-title {
  color: black;
}
.custom-accrodian-group > div .tab-title {
  color: white;
}
.custom-accrodian-group > div data-[open="true"] {
  background-color: red !important;
}
.field-wrapper {
  margin-bottom: 15px;
}

.field-container input {
  width: 100%;
}
input:focus-visible {
  border: none !important;
  box-shadow: none;
  outline: none !important;
}

/* range selector style start */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 4px;
  background: #fc4242;
}

.progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fc4242;
  border: 1px solid white;
}

.CreateProduct .product-tabs .tab.active {
  background-color: #fc4242;
  border: #fc4242;
  color: white;
}
.select-wrapper button {
  border-radius: 50px;
  padding: 15px 25px !important;
  height: auto !important;
  min-height: auto;
}
.tab:hover svg path {
  fill: white;
}

@media only screen and (max-width: 1024px) {
  .custom-header header {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .ImpactItem:nth-child(odd) .item {
    display: flex;
    flex-direction: row-reverse;
  }

  .ImpactItem:nth-child(even) .item {
    display: flex;
    flex-direction: row;
  }
  .Footer:after {
    content: none;
  }
}
@media only screen and (max-width: 560px) {
  .ImpactItem .item {
    flex-direction: column !important;
  }
  .feature_product_slider .swiper-wrapper .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ze-image-area .item.active {
    transform: translateX(-60%);
  }
  .ze-image-area .item.next {
    transform: translateX(-4%) scale(0.7);
  }
}
@media only screen and (max-width: 480px) {
  .ze-image-area .item.active {
    transform: translateX(-18%);
  }
  .ze-image-area .item.next {
    transform: translateX(8%) scale(0.7);
  }
}
/* media query end */

.customTextCenter .ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  text-align: center !important;
}


.customList p  {
  font-size: 16px;
}
.customList ul > li {
  font-size: 16px;
  padding-left: 10px; /* Adjust the padding as needed */
}


 
