body,
html {
  overflow-x: hidden;
}

.custom-header header > ul {
  width: 33.33%;
}
.custom-header header {
  background-color: black;
  height: 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
}
.custom-header header .desktop-menu-item li a {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.custom-header header .desktop-menu-item li a:hover {
  color: #fc4242;
}
ul.mob-br {
  --navbar-height: 147px !important;
}
@keyframes ticker {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker 50s linear infinite;
}
.cus-btn {
  background-color: #000000;
  color: white;
  border-radius: 50px;
  padding: 12px 25px;
  transition: 0.3s;
  border: 1px solid #000000;
}
.cus-btn:hover {
  background-color: white;
  color: black;
}
.swiper.BannnerSwiper {
  padding-bottom: 40px;
}

.swiper.BannnerSwiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper.BannnerSwiper .swiper-pagination span.swiper-pagination-bullet {
  background-color: #ffe6e6;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.swiper.BannnerSwiper
  .swiper-pagination
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  background-color: #fc4242;
  height: 10px;
  border-radius: 20px;
}
.ProductItem .item-wrapper:before {
  content: "";
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  height: 80%;
  background-color: #fff5f5;
  position: absolute;
  border-radius: 25px;
  z-index: -1;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.ProductItem:hover .item-wrapper:before {
  max-height: 280px;
  height: 100%;
}
.custom-shadow {
  box-shadow: 0px 3px 2px 0px rgb(176 81 172 / 35%);
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker 50s linear infinite;
}

.swap-animation-left {
  animation: swapAnimationLeft 1s ease-in-out;
}

.swap-animation-right {
  animation: swapAnimationRight 1s ease-in-out;
}

@keyframes swapAnimationLeft {
  0% {
    width: 350px;

    transform: translateX(0);
  }

  100% {
    width: 500px;
    transform: translateX(-100%);
  }
}

@keyframes swapAnimationRight {
  0% {
    width: 500px;

    transform: translateX(0);
  }

  100% {
    width: 350px;

    transform: translateX(100%);
  }
}

.buttonShadow {
  box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
  -webkit-box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
  -moz-box-shadow: -13px 12px 20px -5px rgba(226, 27, 27, 0.58);
}
.Footer:after {
  content: url("../assets/images/FooterBg.png");
  width: 790px;
  height: 360px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
  .custom-header header {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .ImpactItem:nth-child(odd) .item {
    display: flex;
    flex-direction: row-reverse;
  }

  .ImpactItem:nth-child(even) .item {
    display: flex;
    flex-direction: row;
  }
  .Footer:after {
   content: none;
  }
}
@media only screen and (max-width: 560px) {
  .ImpactItem .item {
    flex-direction: column !important;
  }
}
