@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FFF5F5;
}

::-webkit-scrollbar-thumb {
  background: #ecb0b0; 
  /* background: #FFF5F5;  */
}

@font-face {
  font-family: "Fedra-100";
  src: url("../assets/fonts/Fedra/Fedra-Sans2.ttf");
}
@font-face {
  font-family: "Fedra-400";
  src: url("../assets/fonts/Fedra/Fedra-Sans3.ttf");
}
@font-face {
  font-family: "Fedra-700";
  src: url("../assets/fonts/Fedra/Fedra-Sans5.ttf");
}
@font-face {
  font-family: "Fedra-900";
  src: url("../assets/fonts/Fedra/Fedra-Sans4.ttf");
}
@font-face {
  font-family: "GeneralSans";
  src: url("../assets/fonts/GeneralSans/GeneralSans-Variable.ttf");
}
@font-face {
  font-family: "Kalam";
  src: url("../assets/fonts/Kalam/Kalam-Bold.ttf");
}
.Fedra-100 {
  font-family: "Fedra-100";
}
.Fedra-400 {
  font-family: "Fedra-400";
}
.Fedra-700 {
  font-family: "Fedra-700";
  font-weight: 700;
}
.Fedra-00 {
  font-family: "Fedra-00";
}
.kalamFont {
  font-family: "Kalam", sans-serif;
}
.GeneralSans {
  font-family: "GeneralSans";
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 3%;
}

body {
  font-family: "Fedra";
}
html {
  zoom: 95%;
}

h1 {
  @apply lg:text-5xl text-3xl font-bold;
  font-family: "Fedra", sans-serif;
}
h2 {
  @apply GeneralSans text-2xl font-medium;
}
h3 {
  @apply lg:text-3xl text-2xl;
}
h4 {
  @apply lg:text-xl text-lg font-medium GeneralSans;
}
p{
  @apply GeneralSans text-base md:text-lg font-normal;
}

.pageLayout {
  @apply py-10 md:py-20;
}
