@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);

@font-face {
  font-family: "Fedra";
  src: url("../assets/fonts/Fedra/Fedra-Sans-Arabic-ARLT.ttf");
}
@font-face {
  font-family: "GeneralSans";
  src: url("../assets/fonts/GeneralSans/General-Sans-Variable.ttf");
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 3%;
}

body {
  font-family: "Fedra";
}


h1 {
  @apply lg:text-5xl text-3xl font-bold;
  font-family: "Fedra", sans-serif;
}
h2 {
  @apply lg:text-5xl text-3xl;
}
h3 {
  @apply lg:text-3xl text-2xl;
}
h4 {
  @apply lg:text-xl text-lg font-medium;
}

 